<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="./stylesheets/main.css" />
    <title>Postal rate results</title>
  </head>

  <body>
    <h1>Postal rate results</h1>
    <p>
      After looking at the price list of USPS.COM, the response to your <%=
      type_of_mail %> of weight of <%= weight %> (oz.) is:
      <br />
      <br />
      <%= result %>
    </p>
  </body>
</html>
