<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Postal rate results</title>
  </head>
  <body>
    <h1>Postal rate results</h1>
    <p>
      After looking at the price list of USPS.COM, as your zone is <%= zone %>,
      your parcel of weight <%=weight%> (oz.) will be of: <br />
      <br /><%= zoneResult %>
    </p>
  </body>
</html>
