<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="./stylesheets/main.css" />
    <title>Postal rate results</title>
  </head>
  <body>
    <h1>Service-retail</h1>
    <p>In order to calculate the retail parcel, please select your zone:</p>
    <form action="/zoneNum" method="get">
      <select name="zone">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
      </select>
      <input type="submit" value="Get Result" />
    </form>
  </body>
</html>
